body{
    color:red;
}

h1 {
    color: blue;
}

/* here h1 and h2 are called selectors. */
/* there are different ways of selecting,via tags,via class,via attributes,via Id,via lot of things */
h3{
    color: green;
}

#lib-header {
    color: grey;
}

.para {
    color: pink;
}