@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #3B82F6 ;
}
body {
    font-family: 'Montserrat',
     sans-serif;
}

/* container */

.container {
   
    padding-left: 1rem;
    padding-right: 1rem;
    /* can also be written as padding: 0rem 1rem;  */
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */
.link {
      link-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    background-color: var
    (--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.secondary-link {
    color:var(--primary-color);
    border-radius: 0.5rem;
    border: 1px
}
